<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="sl50" />
  <package id="Common.Logging.Portable" version="3.0.0" targetFramework="sl50" />
  <package id="Common.Logging.Silverlight" version="3.0.0" targetFramework="sl50" />
  <package id="NoName.Controls" version="1.0.2" targetFramework="sl50" />
  <package id="Unofficial.System.Windows.Interactivity" version="1.0.0.2" targetFramework="sl50" />
</packages>